@import './transitions.css';

:root{
  scroll-behavior: smooth !important;
}

/* SOBREESCREVENDO CLASSE DE BOOTSTRAP */
.container-fluid {
  padding: 0 !important;
  height: 100vh !important;
  width: 100vw !important;
  overflow-x: hidden;
}
